---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "runai-agent.fullname" . }}
  namespace: {{ include "runai-agent.namespace" . }}
  labels:
    {{- include "runai-agent.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.apiPort }}
      targetPort: api
      protocol: TCP
      name: api
  selector:
    {{- include "runai-agent.selectorLabels" . | nindent 4 }}

